train /home/quynh/working/Data/conll2009/train.conll2009.pp.txt
valid /home/quynh/working/Data/conll2009/ood.conll2009.pp.txt
data form
pos V
model 11
save_folder dep3Adv
dep 3
hidden_size 50
hidden_size1 50
hidden_size2 16
max_epochs 50
we_dict1 /home/quynh/working/Data/srlwe/srl.vectors.SG.50.txt
