train /home/quynh/working/Data/conll2009/train.conll2009.pp.txt
valid /home/quynh/working/Data/conll2009/ood.conll2009.pp.txt
data form
pos V
eos True
model 11
save_folder ModelOct
we_dict muse/vectors.SG.100.txt
we_dict1 muse/vectors.SG.100.txt
batch_size 50
dep 1
hidden_size 100
hidden_size1 100
hidden_size2 16
max_epochs 120
