train semlm/data/allverb60k1M.txt
train semlm/data/allverb1M2M.txt
train semlm/data/allverb2M5M.txt
train semlm/data/allverb5M8M.txt
train semlm/data/allverb8M11M.txt
train semlm/data/allverb11M14M.txt
train semlm/data/allverbTrain.txt
train semlm/data/allverbBrown23.txt
train semlm/data/allverbWsj2.txt
valid semlm/data/allverbDev.txt
data form
pos V
eos True
model 11
save_folder ModelOct
we_dict muse/vectors.SG.100.txt
we_dict1 muse/vectors.SG.100.txt
batch_size 200
dep 1
hidden_size 100
hidden_size1 100
hidden_size2 16
max_epochs 120
